.sectionTab {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
}

.tabButton {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.activeTab {
  border-bottom: 2px solid cyan;
}

@media screen and (max-width: 960px) {
  .sectionTab {
    justify-content: center;
  }
}
