.aboutDeveloper__Container {
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutDeveloper__title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  color: white;
  width: 100%;
  text-decoration: underline cyan;
}

.developer__timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.developer__timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid rgb(18, 227, 255);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 10px 20px;
  background-color: white;
  color: black;
  position: relative;
  border-radius: 6px;
}

.cardContainer {
  display: flex;
  align-items: center;
}

.nameAndImage {
  border-radius: 50%;
  object-fit: cover;
}

.introduction {
  margin-left: 10px;
  margin-top: 10px;
}

.introduction h4 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.socialMedia {
  font-size: 2rem;
  border-radius: 50%;
  color: black;
  margin: 0.5rem;
}

@media screen and (max-width: 600px) {
  .developer__timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }

  .cardContainer {
    flex-direction: column;
  }
}
