@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');

:root {
  --primary-color: #212332;
  --secondary-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Signika Negative', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: #212332;
  color: black;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), background-color 0.5px 0px 0px 0.5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #F5F5F5;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), background-color 0.5px 0px 0px 0.5px;
}

a {
  text-decoration: none;
}

/* Navbar */

.navbar {
  background-color: var(--primary-color);
  color: white;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  font: 600 1rem/1.2;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}

.logo-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #2A2D3E;
  padding: 0 1rem;
  width: 160px;
  height: 50px;
  border-radius: 10px;
}

.profile-image {
  border-radius: 50%;
  object-fit: cover;
}



.profile-arrow {
  margin-left: 10px;
}


.dropdown {
  position: absolute;
  top: 65px;
  right: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px white;
  padding: 0 1rem;
  display: none;
  z-index: 1;
  color: white;
  width: 200px;
  background-color: #2A2D3E;
}



.dropdown-item {
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.dropdown-divider {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 0.5rem 0;
}

.dropdown-greeting-text {
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  padding: 0.5rem 0;
  text-align: center;
}

.dropdown-item-heading {
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  padding: 0.5rem 0;
  text-align: center;
  color: #747680;
}

.show {
  display: block;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 400ms;
}

.dropdown-item-btn {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 400ms;
  background-color: #747680;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;

  &:hover {
    background-color: #181717;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    min-width: 100vw;
  }

  .nav-links {
    margin-top: 1rem;
  }

  .nav-link {
    padding: 0.5rem 0;
  }

  .profile {
    margin-top: 1rem;
    width: 12rem;
  }

  .dropdown {
    width: 90vw;
    top: 6rem
  }

  .dropdown-item-btn {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .dropdown-item {
    text-align: center;
  }
}



/* SIgn In */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: (100vh - 10vh);
  width: 100vw;
}

.sign-container {
  display: flex;
  height: 80vh;
  width: 80%;
  border-radius: 10px;
  border: 1px solid rgba(140, 142, 153, 0.3);
  color: #ffffff;
}

.left-side {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0 0 10px;
}

.logo-img {
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  margin-bottom: 1rem;
}

.right-side {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 10px 0;
}

.sign-btn {
  border-radius: 10px;
  background-color: #2A2D3E;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  padding: 0.8rem 2rem;
  margin-top: 1rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;

}

button svg {
  margin-left: 10px;
}

.sign-btn:hover {
  background-color: #3A3D4E;
  border: 1px solid #3A3D4E;
}

@media screen and (max-width: 768px) {
  .sign-container {
    flex-direction: column;
    height: (100vh - 10vh);
    width: 100%;
    border: none;
  }

  .left-side {
    min-width: 100%;
    height: 50%;
  }

  .right-side {
    min-width: 100%;
    height: 50%;
  }

  .sign-btn {
    margin-bottom: 0;
    margin-top: 4rem;
  }
}


/* 404 Page */
.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: #eeeded;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
}

.back-to-home-btn {
  border-radius: 10px;
  background-color: #2A2D3E;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  padding: 0.8rem 2rem;
  margin-top: 1rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .page-not-found {
    height: (100vh - 10vh);
  }

  .title {
    font-size: 1.2rem;
  }

  .description {
    font-size: 1rem;
  }

  .back-to-home-btn {
    margin-top: 4rem;
  }
}


/* Profile Page */
.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  height: (100vh - 20vh);
  padding: 0 2rem;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.section-one {
  background-color: #f5f5f5;
  width: 50%;
  margin-right: 20px;
  max-height: 80vh;
  min-height: 80vh;
  padding: 1rem;
  border-radius: 10px;
}

.avatar-photo {
  width: 100%;
  max-width: 100px;
  height: auto;
  border-radius: 10%;
  display: block;
  margin: 0 auto;
}

.profile-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.user-full-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .3rem;
  text-align: center;
}

.user-login {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .5rem;
  text-align: center;
}

.profile-table {
  margin: 0;
  border-radius: 10px;
  text-align: center;
  width: 100%;
}

.profile-table-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-table tr td {
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #3A3D4E;
  color: white;
}

.profile-table-data {
  min-width: 25%;
  flex-grow: 1;
}

.profile-orgs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: .2rem;
  margin: 1rem;
}

.profile-orgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 .5rem;
  border-radius: 10px;
  padding: .5rem;
  cursor: pointer;
  background-color: #3A3D4E;
  color: white;
  min-width: 9rem;
  max-width: 8rem;
  min-height: 6rem;
  max-height: 6rem;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.org-photo {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.section-two {
  background-color: #f5f5f5;
  width: 50%;
  margin-left: 20px;
  padding: 1rem;
  border-radius: 10px;
}

.repo-list {
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 70vh;
  max-height: 70vh;
}

.repo-item {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.repo-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.repo-item-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.repo-item-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.repo-item-right {
  display: flex;
  align-items: center;
}

.repo-item-language {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 1rem;
}

.repo-item-privacy {
  font-size: 1rem;
  margin-right: 1rem;
  font-weight: bold;
}

.repo-item-updated {
  font-size: 1rem;
  font-weight: bold;
}

.repo-view-btn {
  margin-left: auto;
  border-radius: 10px;
  background-color: #2A2D3E;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  padding: 0.6rem 1.5rem;
}


/* Org Profile */

.profile-members-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;



}

.profile-members-item {
  margin: 0 .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: .5rem;
  cursor: pointer;
  background-color: #3A3D4E;
  color: white;
  min-width: 9rem;
  max-width: 8rem;
  min-height: 6rem;
  max-height: 6rem;
}

.members-photo {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.members-name {
  margin-top: .5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scroll-button {
  position: relative;
  top: 50%;
  right: 0;

  width: 3rem;
  height: 2rem;
  border-radius: 10px;
  background-color: #3A3D4E;
  color: white;
}



.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  height: 10vh;
}

.footer a {
  color: white;
  text-decoration: none;
}


/*  Media Queries  for Profile Section  */
@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
    height: (100vh - 10vh);
    padding: .5rem;
  }

  .section-one {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    min-height: 50vh;
  }

  .profile-table-data {
    min-width: 50%;
  }

  .profile-orgs-container {
    flex-wrap: wrap;
    margin: 0;

  }

  .section-two {
    width: 100%;
    margin-left: 0;
  }

  .repo-item {
    padding: 0.5rem;
    max-height: 50vh;
  }

  .repo-item-right {
    margin-top: 0.5rem;
  }

  .repo-item-name {
    font-size: 1rem;
  }

  .repo-item-language {
    font-size: 0.8rem;
  }

  .repo-item-privacy {
    font-size: 0.8rem;
  }

  .repo-item-updated {
    font-size: 0.8rem;
  }

  .repo-view-btn {
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
  }

  /* profile */
  .profile-members-container {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

/* dashboard */

.issue-view-btn {
  margin-left: auto;
  border-radius: 10px;
  background-color: #2A2D3E;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  padding: 0.4rem 1.2rem;
  min-width: 6rem;
  text-align: center;
}