@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');

:root {
  --primary-color: #212332;
  --secondary-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Signika Negative', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: #212332;
  color: black;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3),
    background-color 0.5px 0px 0px 0.5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f5f5f5;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3),
    background-color 0.5px 0px 0px 0.5px;
}

a {
  text-decoration: none;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: white;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  font: 600 1rem/1.2;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}

.logo-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #2a2d3e;
  padding: 0 1rem;
  width: 160px;
  height: 50px;
  border-radius: 10px;
}

.profile-image {
  border-radius: 50%;
  object-fit: cover;
}

.profile-arrow {
  margin-left: 10px;
}

.dropdown {
  position: absolute;
  top: 65px;
  right: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px white;
  padding: 0 1rem;
  display: none;
  z-index: 1;
  color: white;
  width: 200px;
  background-color: #2a2d3e;
}

.dropdown-item {
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.dropdown-divider {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 0.5rem 0;
}

.dropdown-greeting-text {
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  padding: 0.5rem 0;
  text-align: center;
}

.dropdown-item-heading {
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  padding: 0.5rem 0;
  text-align: center;
  color: #747680;
}

.show {
  display: block;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 400ms;
}

.dropdown-item-btn {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 400ms;
  background-color: #747680;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;

  &:hover {
    background-color: #181717;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    margin-top: 1rem;
  }

  .nav-link {
    padding: 0.5rem 0;
  }

  .profile {
    margin-top: 1rem;
    width: 12rem;
  }

  .dropdown {
    width: 90vw;
    top: 6rem;
  }

  .dropdown-item-btn {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .dropdown-item {
    text-align: center;
  }
}

/* SIgn In */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: (100vh - 6vh);
  width: 100vw;
}

.sign-container {
  display: flex;
  height: 84vh;
  width: 80%;
  border-radius: 10px;
  border: 1px solid rgba(140, 142, 153, 0.3);
  color: #ffffff;
}

.left-side {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0 0 10px;
}

.logo-img {
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  margin-bottom: 1rem;
}

.right-side {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 10px 0;
}

.sign-btn {
  border-radius: 10px;
  background-color: #2a2d3e;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  padding: 0.8rem 2rem;
  margin-top: 1rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

button svg {
  margin-left: 10px;
}

.sign-btn:hover {
  background-color: #3a3d4e;
  border: 1px solid #3a3d4e;
}

@media screen and (max-width: 768px) {
  .sign-container {
    flex-direction: column;
    height: (100vh - 10vh);
    width: 100%;
    border: none;
  }

  .left-side {
    min-width: 100%;
    height: 50%;
  }

  .right-side {
    min-width: 100%;
    height: 50%;
  }

  .sign-btn {
    margin-bottom: 0;
    margin-top: 4rem;
  }
}

/* 404 Page */
.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 84vh;
  color: #eeeded;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
}

.back-to-home-btn {
  border-radius: 10px;
  background-color: #2a2d3e;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  padding: 0.8rem 2rem;
  margin-top: 1rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .page-not-found {
    height: (100vh - 10vh);
  }

  .title {
    font-size: 1.2rem;
  }

  .description {
    font-size: 1rem;
  }

  .back-to-home-btn {
    margin-top: 4rem;
  }
}

/* Profile Page */
.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  max-height: (100vh - 16vh);
  padding: 0 2rem;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.section-one {
  background-color: #f5f5f5;
  width: 50%;
  margin-right: 20px;
  padding: 1rem;
  border-radius: 10px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  min-height: 70vh;
}

.avatar-photo {
  width: 100%;
  max-width: 100px;
  height: auto;
  border-radius: 10%;
  display: block;
  margin: 0 auto;
}

.profile-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.user-full-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  text-align: center;
}

.user-login {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.profile-table {
  margin: 0;
  border-radius: 10px;
  text-align: center;
  width: 100%;
}

.profile-table-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-table tr td {
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #3a3d4e;
  color: white;
}

.profile-table-data {
  min-width: 25%;
  flex-grow: 1;
}

.profile-orgs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-orgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  min-width: 9rem;
  max-width: 8rem;
  min-height: 6rem;
  max-height: 6rem;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.org-photo {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.section-two {
  background-color: #f5f5f5;
  width: 50%;
  margin-left: 20px;
  padding: 1rem;
  border-radius: 10px;
}

.repo-list {
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 65vh;
  max-height: 65vh;
}

.repo-item {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.repo-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.repo-item-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.repo-item-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.repo-item-right {
  display: flex;
  align-items: center;
}

.repo-item-language {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 1rem;
}

.repo-item-privacy {
  font-size: 1rem;
  margin-right: 1rem;
  font-weight: bold;
}

.repo-item-updated {
  font-size: 1rem;
  font-weight: bold;
}

.repo-view-btn {
  margin-left: auto;
  border-radius: 10px;
  background-color: #2a2d3e;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  padding: 0.6rem 1.5rem;
}

/* Org Profile */
.profile-members-container {
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 30vh;
  max-height: 30vh;
  width: 100%;
}

.profile-members-item {
  margin: 0.5rem;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.member-details {
  display: flex;
  align-items: center;
  text-align: center;
}

.member-action-button {
  border-radius: 10px;
  background-color: #2a2d3e;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  padding: 0.6rem 1.5rem;
  margin-left: auto;
  margin-right: 0.5rem;
  width: 10rem;
  height: 2rem;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.members-photo {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
}

.members-name {
  margin-top: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scroll-button {
  position: relative;
  top: 50%;
  right: 0;
  width: 3rem;
  height: 2rem;
  border-radius: 10px;
  background-color: #3a3d4e;
  color: white;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  height: 6vh;
}

.footer a {
  color: white;
  text-decoration: none;
}

/* dashboard */
.issue-view-btn {
  margin-left: auto;
  border-radius: 10px;
  background-color: #2a2d3e;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  padding: 0.4rem 1.2rem;
  min-width: 6rem;
  text-align: center;
}

.repo-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

.repo-search {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #2a2d3e;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
}

.repo-filter-button {
  border-radius: 10px;
  background-color: #2a2d3e;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font: 1rem 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1.2rem;
  min-width: 6rem;
  text-align: center;
  margin-left: 1rem;
}

.repo-filter-item {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #3a3d4e;
  color: white;
  min-width: 9rem;
  max-width: 8rem;
  min-height: 6rem;
  max-height: 6rem;
}

.filter-checkbox {
  margin: 0 0.5rem;
  font-size: 1rem;
}

/*  */
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #3a3d4e;
  color: white;
  font-weight: 600;
}

/* ABout Page */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
  cursor: default;
}

.hero {
  margin-bottom: 20px;
  width: 100%;
  height: 100vh;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
}

.hero-title {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 0.1rem;
  width: 80%;
}

.hero-title-highlight {
  color: cyan;
}

.hero-subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  width: 50%;
  letter-spacing: 1px;
}

.hero-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.hero-button {
  border-radius: 10px;
  background-color: #2a2d3e;
  color: white;
  font-weight: 600;
  font: 1.2rem 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  padding: 0.8rem 2rem;
  min-width: 8rem;
  text-align: center;
  margin-left: 1rem;
}

.hero-button:hover {
  background-color: #3a3d4e;
}

.demo-btn {
  background-color: cyan;
  color: black;
}

.demo-btn:hover {
  background-color: rgb(7, 211, 211);
}

.features {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.features-button {
  border-radius: 10px;
  background-color: #2a2d3e;
  color: white;
  font-weight: 600;
  font: 0.8rem 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  padding: 0.4rem 1.5rem;
  text-align: center;
  margin-left: 1rem;
  border: 1px solid #2a2d3e;
  letter-spacing: 1px;
}

.features-button.active {
  background-color: cyan;
  color: black;
}

.features-button:hover {
  border-color: cyan;
}

.feature-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.feature-image {
  border-radius: 18px;
  width: 80%;
  height: 80%;
  animation: slideInFromLeft 0.5s ease-in-out forwards;
  box-shadow: 0 0 12px 1px white;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(10%);
  }

  100% {
    transform: translateX(0);
  }
}

.testimonial {
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 0.1rem;
  width: 100%;
  text-decoration: underline cyan;
}

.testimonial-text-quote {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 1px;
}

.testimonial-text-author {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 1px;
}

.about {
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.about-text {
  letter-spacing: 1px;
  width: 80%;
}

.about-text-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  color: cyan;
}

.about-text-paragraph {
  margin-bottom: 1rem;
  text-align: justify;
}

.faq-section {
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.faq-container {
  width: 80%;
  color: black;
  margin-top: 2rem;
}

.faq {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.faq__title h3 {
  font-weight: 400;
  margin: 0;
  font-size: inherit;
  cursor: pointer;
}

.faq__title {
  justify-content: space-between;
  min-height: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.faq__title::after {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.question {
  color: black;
}

.faq__text {
  word-spacing: 1px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 3s ease-out;
}

.answer {
  border-top: 1px solid cyan;
  padding-top: 1rem;
}

.faq-btn {
  height: 25px;
  width: 25px;
  font-size: 1.3rem;
  background: transparent;
  color: #041187;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-btn::before {
  content: '↓';
}

.faq-btn-show::before {
  content: '↑';
}

.contact {
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 70vh;
}

.contact-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-image-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-image {
  border-radius: 18px;
  object-fit: cover;
  width: 60%;
  height: 60%;
  animation: slideInFromLeft 0.5s ease-in-out forwards;
}

.contact-form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 1.2rem;
  width: 30%;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 1px;
}

.form-group input {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  width: 60%;
}

.form-group textarea {
  width: 60%;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.submit-button {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border: 1px solid cyan;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  background: cyan;
  color: black;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
    padding: 0.5rem;
  }

  .section-one {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .profile-table-data {
    min-width: 50%;
  }

  .section-two {
    width: 100%;
    margin-left: 0;
  }

  .repo-list {
    min-height: auto;
  }

  .repo-item {
    padding: 0.5rem;
    max-height: 50vh;
  }

  .repo-item-right {
    margin-top: 0.5rem;
  }

  .repo-item-name {
    font-size: 1rem;
  }

  .repo-item-language {
    font-size: 0.8rem;
  }

  .repo-item-privacy {
    font-size: 0.8rem;
  }

  .repo-item-updated {
    font-size: 0.8rem;
  }

  .repo-view-btn {
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
  }

  /* profile */
  .profile-container {
    flex-direction: column;
    padding: 0.5rem;
    min-height: 0vh;
  }

  .profile-members-container {
    min-height: 0vh;
    max-height: 40vh;
  }

  /* About page */
  .about-container {
    flex-direction: column;
    padding: 0.5rem;
    min-height: 0vh;
  }

  .hero {
    flex-direction: column;
    padding: 0.5rem;
    height: auto;
    min-height: 70vh;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .hero-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
  }

  .features {
    flex-direction: column;
    padding: 0.5rem;
    height: auto;
  }

  .features-button-container {
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  .features-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
  }

  .feature-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px white;
  }

  .testimonial {
    flex-direction: column;
    padding: 0.5rem;
    height: auto;
    width: 80%;
  }

  .testimonial-text-quote {
    font-size: 1rem;
  }

  .about {
    flex-direction: column;
    padding: 0.5rem;
    height: auto;
  }

  .about-text {
    font-size: 1rem;
  }

  .about-text-paragraph {
    font-size: 1rem;
    text-align: justify;
  }

  .contact {
    flex-direction: column;
    padding: 0.5rem;
    height: auto;
  }

  .contact-container {
    flex-direction: column;
    padding: 0.5rem;
    height: auto;
  }

  .contact-image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-image {
    border-radius: 18px;
    object-fit: cover;
    width: 60%;
    height: 60%;
    animation: slideInFromLeft 0.5s ease-in-out forwards;
  }

  .contact-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
  }
}
