@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');
:root{
     --primary-color: #2C3E50;
     --secondary-color: white;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     margin: 0;
     font-family: 'Signika Negative', sans-serif !important;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     height: 100vh;
     background: #EEEEEE;
     color: black;
}


a {
     text-decoration: none;
}