@import './../..//../styles/global.css';

.btn {
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  min-width: 100px;
  border-radius: 5px;
  transition: all 0.3s;
  border: 2px solid var(--primary-color);
}

.btn--red:hover {
  background: #d63031;
  color: #fff !important;
  border: 2px solid #d63031;
}

.btn--green:hover {
  background: green;
  color: #fff !important;
  border: 2px solid green;
}

.btn--blue:hover {
  background: #0984e3;
  color: #ffffff !important;
  border: 2px solid #0984e3;
}