.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
