.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: white;
  cursor: pointer;
  margin-bottom: 2rem;
  background-color: #212332;
  min-height: 5vh;
}

.linksContainer {
  margin: 0.5rem;
}

.anchorLink {
  margin: 0.5rem;
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer {
    padding: 1rem;
    flex-direction: column-reverse;
  }
}
