@import './../../styles/global.css';
footer {
  padding: 1.25rem;
  text-align: center;
  font: 300 15px/1.5 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
      background-color: var(--primary-color);
      color: var(--secondary-color);
}
