.testimonial {
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionHeading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 0.1rem;
  color: white;
  width: 100%;
  text-decoration: underline cyan;
}

.testimonialTextQuote {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 1px;
}

.testimonialTextAuthor {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 1px;
}
