@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Signika Negative', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(45deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 0%,
      rgba(9, 00, 255, 1) 100%) center center fixed no-repeat !important;
  color: #fff;
}


a{
  text-decoration: none;
}